* {
  box-sizing: border-box;
}

/* html,
body {
  padding: 0;
  margin: 0;
} */

body {
  /* background-color: rgb(182, 61, 61); */
  background-color: #ddd;
  width: 100%;
  margin: auto;
  font-family: Helvetica, sans-serif;
  padding: 30px 0;
}
a {
  color: #999;
}
.form {
  margin: 50px auto;
}
#search {
  margin: 0;
  text-align: center;
  outline: 0;
  border: 3px solid #1c8607;
  position: relative;
  width: 100%;
  min-height: 100px;
  top: 10px;
  z-index: 2;
  border-radius: 5px;
  font-size: 40px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}
.heading-container {
  display: flex;
  align-items: center;
}
.heading-container > img {
  width: 100px;
  margin-right: 10px;
}
#search-display {
  margin-top: 13px;
  padding: 0;
  position: relative;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.87);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  position: absolute;
}
.photo-column > img {
  max-width: 100%;
}
h1 {
  margin-top: 0;
  font-size: 2.4em;
  font-weight: normal;
  min-width: 400px;
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.page-wrap {
  width: 95%;
  padding: 0 16px;
  margin: 0 auto;
}
#set-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 15px;
}

.set {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

.set h2 {
  font-weight: normal;
  margin: 0;
  font-size: 2.5rem;
}

.design-by {
  color: #999;
  font-size: 1rem;
}
.set h2 .name-of-class {
  font-size: 1.45rem;
  color: #999;
}

.info-column {
  box-sizing: border-box;
}

.bold {
  font-weight: bold;
}
.hl {
  text-decoration: underline;
}
.returnedSearch {
  font-size: 40px;
  /* margin-top: 10px; */
}
.input-cancel-button {
  display: flex;
}

.cancel-button {
  float: right;
  margin-left: 20px;
  border: none;
  background: transparent;
  font-size: 30px;
  display: none;
  cursor: pointer;
}
.active-cancel-button {
  display: block;
}
.remove-displayed-search {
  display: none;
}

@media screen and (max-width: 600px) {
  .page-wrap {
    width: 500px;
  }
  input {
    margin-bottom: 10px;
  }
  .photo-column,
  .info-column {
    width: auto;
  }
}
.clear-icon {
  visibility: hidden;
  border: 1px solid transparent;
  background-color: transparent;
  display: inline-block;
  outline: 0;
  cursor: pointer;
  margin-left: -75px;
  margin-top: -15px;
  width: 60px;
  height: 95px;
}
.clear-icon:after {
  content: "X";
  display: block;
  width: 40px;
  height: 45px;
  position: absolute;
  background-color: #fa9595;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: normal;
  font-size: 40px;
  box-shadow: 0 0 2px #e50f0f;
  cursor: pointer;
}

.clear-icon-active {
  visibility: visible;
}
